<!DOCTYPE html>
<head>
    <title>Messages</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>User Name</th>
                <th>Message</th>
                <th>Reply to user</th>
                <th>Reply to message</th>
            </tr>
        </thead>
        <tbody>
            {% for message in messages %}
            <tr>
                <td>{{ message.timestamp }}</td>
                <td>{{ message.user_name }}</td>
                <td>{{ message.message }}</td>
                <td>{{ message.reply_to_user }}</td>
                <td>{{ message.reply_to_message }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>